<div class="cart">
  <h1>Cart</h1>
  <div class="row col-12">
    <div class="col-sm-9 details">
      <ul *ngFor="let item of cartAllData">
        <li>
          <img
            src={{item.imgUrl}} alt="product_image"></li>
        <li>
          <span>{{item.name}}</span>
        </li>
        <li>
          <span>Price: {{item.price}}</span>
        </li>
        <li>
          <span>Quantity: {{item.quantity}}</span>
        </li>
        <li>
          <span>Total: {{item.productTotalPrice}}</span>
        </li>
        <li>
          <button class="btn-remove-cart">Remove From Cart</button>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 summary">
      <h3>Summary</h3>
      <ul>
        <li>
          <span>Amount</span>
          <span>{{priceSummary.price | currency:'INR'}}</span>
        </li>
        <li>
          <span>Tax</span>
          <span>{{priceSummary.tax | currency:'INR'}}</span>
        </li>
        <li>
          <span>Delivery</span>
          <span>{{priceSummary.delivery | currency:'INR'}}</span>
        </li>
        <li>
          <span>Discount</span>
          <span>({{priceSummary.discount | currency:'INR'}})</span>
        </li>
        <li>
          <span><h4>Total</h4></span>
          <span><h4>{{priceSummary.total | currency:'INR'}}</h4></span>
        </li>
        <button class="btn-cart btn-checkout"
          (click)="handleCheckout()">Checkout</button>
      </ul>
    </div>
  </div>
</div>
