<!-- <nav class="nav d-flex">
    <h1>E-COMMERCE</h1>
    <div>
        <input type="text" placeholder="Search for Products">
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Seller</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Cart(0)</a></li>
    </ul>
</nav> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex align-center justify-content-between">
      <a class="navbar-brand" href="/">E-COMMERCE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div>
        <input class="form-control" type="search" placeholder="Search">
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart(0)</a>
          </li>
          <!-- <li class="nav-item dropdown"> -->
            <!-- <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a> -->
            <!-- <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>