<div class="container mt-5">
  @if (showLogin) {
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #userSignUp="ngForm">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" ngModel name="fname" class="form-control"
            pattern="^[a-zA-Z]+$" #fname="ngModel" minlength="2" required>
          <p class="text-danger mt-1 ms-1"
            *ngIf="fname.invalid && fname.touched">Please Enter
            Valid FirstName</p>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" ngModel name="lname" class="form-control"
            id="lastName" pattern="^[a-zA-Z']+$" #lname="ngModel" minlength="2"
            required>
          <p class="text-danger mt-1 ms-1"
            *ngIf="lname.invalid && lname.touched">Please Enter
            Valid LastName</p>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" ngModel name="email"
            pattern="^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$"
            class="form-control" id="email"
            #email="ngModel" required>
          <p class="text-danger mt-1 ms-1"
            *ngIf="email.invalid && email.touched">Please Enter
            Valid Email</p>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" ngModel name="password"
            class="form-control" id="password" #password="ngModel"
            required minlength="6" maxlength="16">
          <p class="text-danger mt-1 ms-1"
            *ngIf="password.invalid && password.touched">Password must contain
            atleast 6 characters</p>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm
            Password</label>
          <input type="password" ngModel class="form-control"
            id="confirmPassword" name="confirmPassword"
            #conPassword="ngModel" minlength="6"
            maxlength="16"
            required>
          <p class=" text-danger mt-1 ms-1"
            *ngIf="conPassword.invalid && conPassword.touched">Password and
            Confirm
            Password must be same</p>
        </div>
        <button type="submit" [disabled]="userSignUp.invalid"
          (click)="handleRegister(userSignUp.value)"
          class="btn btn-primary">Register</button><br>
        <a (click)="openLogin()" style="cursor: pointer;">Already have an
          account? Click to
          SignUp</a>
      </form>
    </div>
  </div>
  }@else {
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #loginForm="ngForm">
        <p class="text-danger">{{loginError}}</p>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" ngModel name="email"
            pattern="^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$"
            class="form-control" id="email" name="email" #email="ngModel"
            required>
          <p class="text-danger mt-1 ms-1"
            *ngIf="email.invalid && email.touched">Please Enter
            Valid Email</p>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" ngModel name="password" min="6"
            class="form-control" id="password" #password="ngModel"
            required minlength="6" maxlength="16">
          <p class="text-danger mt-1 ms-1"
            *ngIf="password.invalid && password.touched">Password must contain
            atleast 6 characters</p>
        </div>
        <button type="submit" [disabled]="loginForm.invalid"
          (click)="handleLogin(loginForm.value)"
          class="btn btn-primary">Login</button><br>
        <a (click)="openSignUp()" style="cursor: pointer;">Already have an
          account? Click to
          Login</a>
      </form>
    </div>
  </div>
  }
</div>
